GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
SESSION_SECRET= ""
MONGO_URI= ""
CLIENT_URL =  ""
PORT = ""
JWT_SECRET= ""
JWT_EXPIRES_IN= ""
EMAIL_USER= ""
EMAIL_PASS= ""
PUSHER_APP_ID= ""
PUSHER_KEY= ""
PUSHER_SECRET= ""
PUSHER_CLUSTER= ""
RAZORPAY_KEY_ID = ""
RAZORPAY_KEY_SECRET = ""
RAZORPAY_WEBHOOK_SECRET= ""
CLOUDINARY_CLOUD_NAME= ""
CLOUDINARY_API_KEY= ""
CLOUDINARY_API_SECRET= ""
OPENAI_API_KEY = ""
UNSPLASH_ACCESS_KEY=""
GOOGLE_API_KEY=""
UNSPLASH_API_KEY=""
PEXELS_API_KEY=""
PIXABAY_API_KEY=""